doctype html
html(lang="en")
  head
    title Natours | #{tour}
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", href="img/favicon.png", type="image/png")
  body
    h1= tour
    h1 The Park Camper
    p This is a test